body{
    background-color: rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    background-image: url("fit0.jpg");
    width: auto;
  
    

}

div#interface {
    background-color: rgb(255, 255, 255);
    font: 15pt arial;
    font-weight: 10px;
    width: 1100px;
    margin: 50px auto auto auto;
    padding: 20px;
    box-shadow: black 0px 0px 4px;
}

nav#menu ul {
    background-color: rgb(0, 43, 107);
    width: 1223px;
    height: 47px;
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    margin: -50px 0px 0px -20px;
    text-align: right;
    border-radius: 5px;
    box-shadow: black 2px 2px 2px;
}

nav#menu li{
    display: inline-block;
    color: rgb(255, 255, 255);
    font: normal 15px fantasy;
    width: 250px;
    text-align: center;
    padding: 15px;

}

a {
    color: white;
    text-decoration: none;
}

nav#menu li:hover {
    background-color: rgb(62, 73, 177);
    transition: .5s;
}


h1 {
    padding: 20px;
    width: 402px;
    background-color: rgb(39, 12, 61);
    color:#e4e4e4;
    font: normal 25pt arial;
    box-shadow: black 0px 0px 4px;  
    margin: auto;
}

div#caixa {
    background-color: rgb(237, 238, 237);
    color: black;
    width: 400px;
    padding: 20px;
    height: auto;
    margin: auto;
    box-shadow: black 0px 0px 4px;

}   

p#botao {
    text-align: right;
}

div#res {
    background-color: white;
    font: normal 12pt helvetica;
    padding: 5px;
    box-shadow: black 0px 0px 2px;
    border-radius: 2px;
}

p#texto {
    width: 800px;
}

div#tabela {
    text-align: center;
}

img#lll {
    margin: 0px 0px 0px -400px;
    padding: 5px;
    position: absolute;
    width: 250px;
}

footer {
    text-align: center;
}

a#ancora{
    font: normal 15px arial;
    color: black;
    text-transform: uppercase;
}

table#tabela2 {
    background-color: rgb(237, 237, 243);
    color:rgb(0, 0, 0), 0, 0);
    padding: 10px;
    width: 500px;
    margin: auto;
    text-align: center;
}

td#titulo {

    background-color: rgb(102, 104, 190);
    color:white;
}

table#tabela2 td {
    padding: 10px;
    background-color: thistle;
}

